ASPNETCORE_ENVIRONMENT=Production
CONNECTIONSTRINGS__DEFAULTCONNECTION=Server=db;Port=3306;Database=tracker;Uid=tracker;Pwd=changeme;
JUSTWATCH__ENABLEIMPORT=false
TMDB_API_KEY=changeme
OMDB_API_KEY=changeme
