{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Port=3306;Database=tracker;Uid=tracker;Pwd=changeme;"
  },
  "JustWatch": {
    "EnableImport": false
  }
}
