:host {
  display: block;
}

.media-row {
  margin-bottom: 2.25rem;
}

.track {
  display: grid;
  overflow-x: auto;
  margin: -0.25rem -0.25rem 0;
  gap: 0.85rem;
  grid-auto-columns: 144px;
  grid-auto-flow: column;
  padding: 0.25rem 0.25rem 0.75rem;
  scroll-snap-type: x proximity;

  > * {
    scroll-snap-align: start;
  }
}
